body {
    background-color: #323232;
    color: white;
    font-family: initial;
    margin: 8px;
    max-width: 100vw;
    overflow-x: hidden;
}

/* questions */
.dco { color: #e9ec54; }
.qco { color: #b387ff; }

/* date link */
.dco a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

/* date link gone */
body.disable-links .dco a {
    text-decoration: none;
    pointer-events: none;
    cursor: text;
}

/* question links */
.qco a, .ans a,
.qco a:visited, .ans a:visited {
    color: #24ff28;
    text-decoration: underline;
}

h3 {
    font-weight: bold;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* search bar */
.search-container {
    background-color: transparent;
    padding: 10px;
    margin: 6px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-left, .search-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="text"], select,
input[type="submit"], button {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 2px 6px;
    background: #e9e9ed;
    color: #000000;
    border: 1px solid #8f8f9d;
    border-radius: 5px;
    box-sizing: border-box;
}

button:hover,
input[type="submit"]:hover {
  background: #d0d0d7;
  border-color: #676774;
}

button:active,
input[type="submit"]:active {
  background: #b1b1b9;
  border-color: #484851;
}

/* highlighting */
.highlight {
    background-color: yellow;
    color: black;
}

a .highlight, .highlight a {
    background-color: #24ff28;
    color: black !important;
}

.dco a .highlight, 
.dco .highlight a
{ background-color: yellow; }

body.disable-highlight .highlight,
body.disable-highlight a .highlight,
body.disable-highlight .dco a .highlight { 
    background-color: transparent;
    color: inherit;
}

body.disable-highlight .highlight a,
body.disable-highlight .dco .highlight a {
    background-color: transparent;
    color: #24ff28; 
}

#status-msg {
    font-family: sans-serif;
    color: #cccccc;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* modal */
#config-modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #00000066;
    z-index: 10000;
}

.modal-content {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: auto;
    width: 50vw;
    height: auto;
    max-height: 92vh;
    background-color: #dbdbdb;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
}

.close-btn {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    color: #454545;
    top: 10px;
    right: 16px;
    font-size: 20px;
    cursor: pointer;
}

.modal-section {
    margin-bottom: 20px;
}

.modal-section code {
    color: #eeeeee;
    background-color: #393939;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 4px;
    white-space: nowrap;
}

.modal-section label {
    display: block;
}

.center-bold {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: inherit;
}

.overflow-help {
    height: 0;
    color: gray;
    cursor: help;
}

.modal-section p {
    margin: 0;
    padding: 0;
    display: block;
}

.modal-content a { color: blue; }

input[type="range"],
input[type="checkbox"]
{ accent-color: #4444ee; }

/* force wrapping */
#results-area,
#results-area * {
    white-space: normal;
    overflow-wrap: anywhere;
}

#search-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.show-mobile { display: none; }

/* mobile result toast */
#toast {
    display: none; 
    font-family: Arial, sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 90%;
    padding: 10px 20px;
    border-radius: 48px;
    background-color: #00000077;
    color: white;
    text-align: center;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
    bottom: 44px;
}

.toast-hidden {
    opacity: 0;
    pointer-events: none; 
}

.toast-visible {
    opacity: 1;
    pointer-events: auto;
}

.to-default-button {
    width: 16px;
    height: 16px;
    background-color: #888;
    cursor: pointer;
    /* oh god */
    mask: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"%3E%3Cpath d="m480-120c-92 0-172.17-30.5-240.5-91.5s-107.5-137.17-117.5-228.5h82c9.3333 69.333 40.167 126.67 92.5 172s113.5 68 183.5 68c78 0 144.17-27.167 198.5-81.5s81.5-120.5 81.5-198.5-27.167-144.17-81.5-198.5-120.5-81.5-198.5-81.5c-46 0-89 10.667-129 32s-73.667 50.667-101 88h110v80h-240v-240h80v94c34-42.667 75.5-75.667 124.5-99s100.83-35 155.5-35c50 0 96.833 9.5 140.5 28.5s81.667 44.667 114 77 58 70.333 77 114 28.5 90.5 28.5 140.5-9.5 96.833-28.5 140.5-44.667 81.667-77 114-70.333 58-114 77-90.5 28.5-140.5 28.5zm112-192 56-56z"/%3E%3C/svg%3E') center / contain no-repeat;
}

/* mobile layout */
@media (max-width: 630px) {
    .modal-content {
        width: 90%;
        max-height: 86vh;
        aspect-ratio: auto;
    }

    #search-form {
        display: grid;
        grid-template-columns: 1fr 1.6fr auto;
        gap: 8px;
    }

    .search-left, .search-right { display: contents; }

    /* row 1 */
    .search-left label { display: none; }

    #sort {
        grid-row: 1;
        grid-column: 1 / 2;
        width: 100%;
    }

    #filter {
        grid-row: 1;
        grid-column: 2 / 3;
        width: 100%;
    }

    #config-btn {
        grid-row: 1;
        grid-column: 3 / 4;
        width: 100%;
    }

    /* row 2 */
    #q {
        grid-row: 2;
        grid-column: 1 / 3;
        width: 100%;
        box-sizing: border-box;
    }

    button[type="submit"] {
        grid-row: 2;
        grid-column: 3 / 4;
        width: 100%;
        height: 100%;
    }

    #toast { display: block; }
    #count-display { display: none; }
    .hide-mobile { display: none !important; }
    .show-mobile { display: inline; }
}

/* split screen */
@media (min-width: 630px) and (max-width: 1024px) {
    #search-form {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        gap: 8px;
    }

    .search-left, .search-right { display: contents; }
    .search-left label, .search-right label { display: none; }

    /* row 1 */
    #q { 
        grid-row: 1; 
        grid-column: 1 / 4;
        width: 458px;
        box-sizing: border-box; 
    }
    
    input[type="submit"],
    button[type="submit"] { 
        grid-row: 1; 
        grid-column: 4 / 5;
        width: auto;
    }

    /* row 2 */
    #sort { 
        grid-row: 2; 
        grid-column: 1 / 2; 
        width: auto; 
    }
    
    #filter {
        grid-row: 2; 
        grid-column: 2 / 3; 
        width: auto; 
    }
    
    #config-btn { 
        grid-row: 2; 
        grid-column: 4 / 5;
        width: auto;
        justify-self: end;
    }

    #toast { display: block; }
    #count-display { display: none; }
}
