/* bw style */
body {
    background-color: #323232;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 8px;
    /* Prevent horizontal overflow on mobile */
    max-width: 100vw;
    overflow-x: hidden;
}

/* questions */
.dco { color: #E9EC54; }
.qco { color: #B387FF; }

/* date link */
.dco a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

/* links no more */
body.disable-links .dco a {
    text-decoration: none;
    pointer-events: none;
    cursor: text;
}

h3 {
    font-weight: bold;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* search bar */
.search-container {
    padding: 10px;
    margin: 6px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* mobile stuff just to be "safe" */
@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .search-right {
        width: 100%;
        justify-content: space-between;
    }
    input[type="text"] {
        width: 100%;
    }
}

input[type="text"], select, input[type="submit"], button {
    font-size: 16px; 
}

.search-left, .search-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* highlight word */
.highlight {
    background-color: yellow;
    color: black;
}

/* highlight no more */
body.disable-highlight .highlight {
    background-color: transparent;
    color: inherit;
}

#status-msg {
    font-family: sans-serif;
    color: #ccc;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* modal */
#config-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #00000066;
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-width: 300px;
    max-height: 90vh;
    aspect-ratio: auto;
    background-color: #dbdbdb;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    color: #454545;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-section {
    margin-bottom: 20px;
}

.modal-section code {
    color: #eee;
    background-color: #393939;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 4px;
}

.center-bold {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.modal-content a { color: blue; }

/* force wrapping */
#results-area,
#results-area * {
    white-space: normal !important;
    overflow-wrap: anywhere !important;
    word-break: break-word;
}